<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Vehicle name:</strong>
  <%= @customer.vehicle_name %>
</p>

<p>
  <strong>Vehicle type:</strong>
  <%= @customer.vehicle_type %>
</p>

<p>
  <strong>Vehicle length:</strong>
  <%= @customer.vehicle_length %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
